/*general settings(body, header, nav, section, article, aside, footer)*/
body{
  background-color: #e6f4f5;
  font-family: "Gill Sans", sans-serif;
}
header, section, aside,
article, footer {
  display: block;
  text-align: center;
  background: #173f41; color: #fff;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);
}
header{
  width: 100%;
  height: 7rem;
  margin: -0.5rem -0.5rem 2rem -0.5rem;
  padding-top: 1.5rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #173f41;
  z-index: 1000;
}
.nav-main-news,
.second-menu-bar,
.index-latest-news,
.news,
.index-latest-action{
  float: left;
  width:100%;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}
.article-documents{
  float: left;
  width:75%;
  margin-bottom: 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
aside{
  float: right;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  width: 23.3%;
}
footer {
  padding:2.5rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: -0.7rem -0.6rem;
  color: #ececec;
  background-color: #173f41;
  clear: both;
}

/*header info settings*/
.header-info-table {
  width: 43.75rem;
  margin: -0.3rem auto;
}
.header-info-table td.header-icon{
  width: 5%;
}
.header-info-table img{
  width: 100%;
}

/*header menu bar settings*/
.header-menu-bar{
  padding: 2rem;
}
.logo {
  float: left;
  margin-top: -1rem;
  margin-left: -3rem;
}
.logo img{
  width: 80%;
  height: 80%;
}
.header-menu-items ul {
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  list-style: none;
}
.header-menu-items li {
  float: right;
  list-style-type: none;
  margin: -1rem 1rem 0 0;
  padding: 0;
  overflow: hidden;
  background-color: #173f41;
}
.header-menu-items li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  text-decoration: none;
}
.header-menu-items li a:hover {
  background-color: rgba(230, 244, 245, 0.17);
  border-radius: 1rem 1rem 0 0;
}
.header-menu-items li a.active {
  border: 0.1rem solid white;
  background-color: rgba(230, 244, 245, 0.17);
  border-radius: 1rem 1rem 0 0;
}

/*main*/
main{
  float: left;
  width: 100%;
  margin-top: 10rem;
}

/*nav settings*/
.nav-main-news{
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  height: 40vw;
  margin-top: 1rem;
}
.nav-main-news img {
  width: 98%;
  padding: 0 0 0 1%;
  position: absolute;
  top:-30%;
}
.nav-text-background {
  width: 98.6%;
  height:8rem;
  background: rgba(5, 5, 5, 0.66);
  position: absolute;
  float: left;
  margin-left: 0.7%;
  bottom: -1%;
  filter: blur(0.3rem);
}
.nav-main-news-text {
  position: absolute;
  text-align: left;
  bottom: 2.5rem;
  left: 3rem;
  font-size: 2rem;
}
.nav-main-news-text p {
  position: absolute;
  top: -7rem;
  left: -1.5rem;
  background-color: rgba(245, 245, 220, 0.78);
  color: #7c4e0f;
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  border: 0.1rem solid rgba(124, 78, 15, 0.71);
}


/* second menu settings*/
.additional-menu-items,
.general-menu-items,
.detailed-menu-items{
  overflow: hidden;
  background-color: #e6f4f5;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);  border: 0.1rem solid #173f41;
  border-radius: 0.5rem;
}
.additional-menu-items a {
  float: left;
  display: block;
  border-radius: 0.5rem;
  color: #173f41;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  width: 12.5%;
  white-space: nowrap;
}
.general-menu-items a {
  float: left;
  display: block;
  border-radius: 0.5rem;
  color: #173f41;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5vw;
  width: 20.5%;
  white-space: nowrap;
}
.detailed-menu-items{
  margin: 0 auto;
  width: 97%;
}
.detailed-menu-items a{
  float: left;
  display: block;
  border-radius: 0.5rem;
  color: #173f41;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  margin: 0.1rem 0;
  font-size: 1rem;
  width: 23.2%;
  white-space: nowrap;
}
.additional-menu-items a:hover,
.general-menu-items a:hover,
.detailed-menu-items a:hover{
  background-color: #173f41;
  color: #e6f4f5;
  /*border: 0.1rem solid #e6f4f5;*/
  border-radius: 0.5rem;
  margin: 0.1rem 0;
}
.additional-menu-items a.active,
.general-menu-items a.active{
  background-color: #173f41;
  color: #e6f4f5;
  border: 0.1rem solid #e6f4f5;
}

/*aside settings*/
.aside-menu-archive{
  border-radius: 0.5rem;
  list-style-type: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
}
.aside-menu-archive li a {
  display: block;
  color: #e6f4f5;
  padding: 1rem 2rem;
  text-decoration: none;
}
.aside-menu-archive li a.active {
  background-color: rgba(230, 244, 245, 0.55);
  border-radius: 0.5rem;
  color: #173f41;
  border: 0.1rem solid white;
}
.aside-menu-archive li a:hover:not(.active) {
  border-radius: 0.5rem;
  border: 0.1rem solid white;
  color: #e6f4f5;
}


/*footer settings*/
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "footer-content-1 footer-content-2"
    "footer-content-3 footer-content-3";
  justify-content: space-between;
}
.footer-content-1 { grid-area: footer-content-1; }
.footer-content-2 { grid-area: footer-content-2; }
.footer-content-3 { grid-area: footer-content-3; }
.footer-container h2 {
  text-transform:uppercase;
  margin-top:0.3rem;
  letter-spacing:0.125rem;
}
.footer-container p,
.footer-container li{
  font-size: 1rem;
  margin-top:0.3rem;
  letter-spacing:0.125rem;
}
.footer-container ul {
  list-style:none;
  padding-left:0;
}
.footer-content-3 hr {
  opacity:1;
  clear: both;
}
.social-icons
{
  text-align:right;
}
.social-icons li
{
  display:inline-block;
  margin-top: -0.3rem;
  margin-left: -2rem;
  width: 5rem;
  list-style:none;
}
.social-icons img
{
  width: 50%;
  height: 50%;
}
.text_project{
  float: left;
  background-color: rgba(230, 244, 245, 0.64);
  color: red;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform:uppercase;
}

/* news page*/
.news h2{
  float: left;
  clear: left;
  padding: 1rem 0 1rem 1rem;
  font-size: 2rem;
}
.news-category{
  padding: 0.3rem;
  width: 97%;
  margin: 1rem  auto;
  background-color: rgba(245, 245, 220, 0.78);
  color: #7c4e0f;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}
.main-news-text{
  padding: 2rem 10%;
  text-align: justify;
}
.main-news-text p{
  font-size: 1vw;
}
.main-news-image{
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  height: 40vw;
  margin-top: 1rem;
}
.main-news-image img {
  width: 97%;
  padding: 0 0 0 1%;
  margin-left: -49vw;
  position: absolute;
  top:-30%;
}
.additional-news-image img{
  width: 50%;
  height: 50%;
  margin: 0 25%;
}

/* information block */
.information-block{
  float: left;
  margin-left: 2rem;
  text-align: left;
}
.information-block h2{
  float: left;
}
.information-block p{
  text-align: left;
  float: left;
  padding: 1rem 1rem 0 3rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  font-size: 1vw;
}
.image-right{
  float: right;
  margin: 1rem 4rem 1rem 3rem;
  width: 25rem;
  height: auto;
  border: 0.1rem solid white;
}

/* share block */
.share-block hr{
  float: left;
  width: 30%;
  margin: 4rem 0;
  height: 0.3rem;
  border: none;
  background: linear-gradient(85deg,#e6f4f5, #173f41);
}
.share-social-network{
  text-align:right;
  padding: 2rem;
}
.share-social-network li
{
  display: inline;
  padding-left: 0;
  list-style:none;
}
.share-social-network img {
  width: 4%;
  height: 4%;
}

/* contact details block*/
.contact-details{
  float: left;
  width: 100%;
}
.contact-details p{
  float: left;
  text-align: left;
  padding: 1rem 1rem 0 3rem;
  letter-spacing:0.125rem;
  line-height: 2rem;
  font-size: 1.5vw;
}
.gps_iframe{
  float: right;
  margin: 0 0 1rem 3rem;
  width: 30rem;
  height: 20rem;
}

/* horizontal small news */
.horizontal-small-news {
  float: left;
  clear: both;
  width: 90%;
  background: linear-gradient(85deg, rgba(230, 244, 245, 0.71), #173f41);
  padding: 1rem;
  border-radius: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}
.h-small-news-image{
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 2rem;
  border-radius: 1rem;
  border: 0.2rem solid white;
}
.h-small-news-image img{
  position: absolute;
  left: 50%;
  top: 50%;
  border: 0.2rem solid white;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.horizontal-small-news p{
  float: left;
  clear: right;
  margin-left: 3rem;
  padding: 0.3rem;
  background-color: rgba(245, 245, 220, 0.55);
  color: #7c4e0f;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);
}
.horizontal-small-news h2{
  float: left;
  text-align: left;
  margin-left: 3rem;
  width: 60%;
}
/* vertical small news*/
.vertical-small-news{
  display: flex;
  float: left;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 1rem;
}
.v-news-items{
  flex-basis: 31.6%;
  background-color: rgba(230, 244, 245, 0.53);
  margin: 1rem 0.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}
.v-news-items h2{
  font-style: italic;
  font-size: 1.5rem;
}
.v-news-items img{
  margin-top: 0.5rem;
  width: 95%;
  border: 0.1rem solid white;
  border-radius: 2rem;
}
.v-news-items p{
  margin: 0 auto;
  width: 50%;
  padding: 0.3rem;
  background-color: rgba(245, 245, 220, 0.78);
  color: #7c4e0f;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}

/* grid components in the "action" */
.grid-action-2{
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 0;
  margin: 0 2rem;
  grid-auto-columns: minmax(60rem, auto);
  grid-gap: 2rem;
  grid-template-areas:
    "action-element-1 action-element-1 action-element-1"
    "action-element-2 action-element-2 action-element-3"
    "action-element-4 action-element-5 action-element-5"
    "action-element-6 action-element-6 action-element-7"
    "action-element-8 action-element-8 action-element-8";
}
.grid-action-1{
  grid-gap: 2rem;
  margin: 0 2rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  align-items: center;
  float: left;
  display: grid;
}
.action-element-1 { grid-area: action-element-1; }
.action-element-2 { grid-area: action-element-2; }
.action-element-3 { grid-area: action-element-3; }
.action-element-4 { grid-area: action-element-4; }
.action-element-5 { grid-area: action-element-5; }
.action-element-6 { grid-area: action-element-6; }
.action-element-7 { grid-area: action-element-7; }
.action-element-8 { grid-area: action-element-8; }

.action-element-1, .action-element-2,
.action-element-3, .action-element-4,
.action-element-5, .action-element-6,
.action-element-7, .action-element-8,
.action-basic-element{
  float: left;
  background: rgba(230, 244, 245, 0.53);
  border-radius: 1rem;
  padding-bottom: 1rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.47);
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}

.grid-action-2 h2{
  padding: 1rem 1rem 0 1rem;
  font-size: 1vw;
}
.grid-action-1 h2{
  padding: 1rem 1rem 0 1rem;
  font-size: 1vw;
}

.grid-action-2 p,
.grid-action-1 p{
  background-color: rgba(245, 245, 220, 0.58);
  color: #7c4e0f;
  width: 50%;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  font-size: 1vw;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}

/* employee block */
.employee-data{
  float: left;
  text-align: left;
  width: 100%;
}
.employee-data h2{
  margin-left: 2rem;
}
.about-employee{
  float: left;
  width: 18rem;
  background-color: rgba(230, 244, 245, 0.53);
  text-align: center;
  margin: 1rem 0 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}
.about-employee figure {
  padding: 0.5rem;
  margin: auto;
}
.about-employee figure img{
  width: 80%;
}
.about-employee figcaption {
  color: white;
  font-style: italic;
  border: 0.1rem solid white;
  border-radius: 1rem;
  text-align: center;
}
.about-employee h3{
  font-style: italic;
}
.about-employee img{
  padding: 1rem;
  border-radius: 2rem;
}

/* form for feedback */
.feedback-block {
    background: rgba(230, 244, 245, 0.56);
    width:70vw;
    margin:auto;
    border-radius: 2rem;
}
h2.contact {
    width: 100%;
    font-size: 4rem;
    color: #c74302;
}
p.contact {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    color: #4b4b4b;
}
input[type="text"] {
    width: 30rem;
}
textarea {
    width: 50vw;
    height: 15rem;
}
label {
    color: #c74302;
}
input, textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.2rem solid rgba(96, 134, 28, 0.15);
    padding: 1rem;
    color: #4b4b4b;
    font-size: 1.5rem;
    -webkit-border-radius: 1rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, #173f41),
        color-stop(0.62, #266a6e)
    );
}
input[type="submit"]:hover {
    color: #c74302;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, rgba(255, 142, 55, 0.43)),
        color-stop(0.62, rgba(206, 147, 69, 0.45))
    );
}

/*links settings*/
a.general-link:link {color:#e6f4f5; text-decoration: none}
a.general-link:visited {color:#e6f4f5;text-decoration: none}
a.general-link:hover {color: rgba(239, 239, 199, 0.78); text-decoration: underline}

/* search design */
.search-container{
  float: right;
}
.search-container input[type=text]{
  padding: 0.7rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  width: 10rem;
  background: transparent;
  border: 0.1rem solid #173f41;
  border-radius: 0.5rem;
}
.search-form {
  position: relative;
  margin: 0 auto;
  margin-right: 1rem;
}
.search-form input, .search-form button {
  border: none;
  outline: none;
  background: transparent;
}
.search-form input {
  width: 100%;
  height: 1.7rem;
  padding-left: 1rem;
}
.search-form button {
  height: 100%;
  position: absolute;
  top: 0.1rem;
  right: 0;
  cursor: pointer;
}
.search-form button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 1rem;
  color: black;
}

/* name designs */
/* design-1 */
.name-design-1 {
  background: #173f41;
  padding: 1rem 0;
  margin: 0 0 2.5rem 0;
  text-align: center;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);}
.name-design-1 hr{
  margin-top: 3rem;
  width: 30%;
  height: 0.1rem;
  background-color: #e6f4f5;
}
.hr-left-design-1{float: left;}
.hr-right-design-1{float: right;}
.name-design-1 h1 {
  font-family: "Gill Sans", sans-serif;
  position: relative;
  color: #e6f4f5;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin: 2rem;
  display: inline-block;
}
.name-design-1 h1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 250%;
  border-radius: 50%/50%;
  border: 0.2rem solid #e6f4f5;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* design-2 and design share*/
.name-design-2,
.share{
  margin-top: 0.5rem;
}
.name-design-2 h2,
.share h2{
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  position: relative;
  float: left;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);  color: #173f41;
  z-index: 1;
}
.name-design-2 h2:before,
.share h2:before{
  content: "";
  position: absolute;
  left: 10rem;
  margin-left: 1.5rem;
  bottom: 0.4rem;
  box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.2), 0 0.5rem 3rem 0 rgba(0,0,0,0.19);  width: 20rem;
  height: 3rem;
  transform: skew(-12deg) translateX(-50%);
  background: #e6f4f5;
  z-index: -1;
}
.name-design-2 hr{
  float: left;
  width: 60%;
  margin: 3rem 0;
  height: 0.3rem;
  border: none;
  background: linear-gradient(85deg,#e6f4f5, #173f41);
}

/* pagination */
.pagination {
  display: inline-block;
  float: right;
  color: #e6f4f5;
  margin: 3rem 2rem 3rem 0;
  border-radius: 1rem;
}
.pagination a {
  border-radius: 1rem;
  color: #e6f4f5;
  float: left;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.active {
  background-color: #e6f4f5;
  color: #173f41;
}
.pagination a:hover:not(.active) {background-color: rgba(230, 244, 245, 0.46); color: #173f41}

/* button "More"*/
.button-more{
  width: 100%;
  margin: 2rem 0;
  float: left;
}
.double-border-button {
  text-decoration: none;
  padding: 0.7rem 3rem;
  border: 0.1rem solid #e6f4f5;
  color: #e6f4f5;
  font-family: 'Montserrat', sans-serif;
}
.double-border-button:hover {
  border-color: burlywood;
}

/* button "Up" */
#myBtn {
  display: none;
  position: fixed;
  bottom: 1.2rem;
  right: 2rem;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgba(245, 245, 220, 0.78);
  color: #173f41;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}
#myBtn:hover {
  background-color: burlywood;
}



